<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Salt Manager</title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
        <script src="static/main.js"></script>
    </head>
    <body>
        <div data-role="page" id="mainmenu">
            <div data-role="header">
                <b>Salt Manager - Menu</b>
            </div>
            <div data-role="content">
                <ul data-role="listview" id="mainlist">
                    <li><a href="#minions">Minions</a></li>
                    <li><a href="#keys">Keys</a></li>
                </ul>
            </div>

            <div data-role="footer">
            </div>
        </div>

        <div data-role="page" id="minions">
            <div data-role="header">
                <b>Salt Manager - Minions</b>
            </div>
            <div data-role="content">
                <div data-role="collapsible-set" id="minionlist">
                    <h3>Loading, please wait...</h3>
                </div>
            </div>
            <div data-role="footer">
            </div>
        </div>

        <div data-role="page" id="keys">
            <div data-role="header">
                <b>Salt Manager - Keys</b>
            </div>
            <div data-role="content">
                <b>Unaccepted Keys</b>
                <div data-role="collapsible-set" id="keys-unaccepted">
                    <h3>Loading, please wait...</h3>
                </div>
                <b>Accepted Keys</b>
                <div data-role="collapsible-set" id="keys-accepted">
                </div>
            </div>
            <div data-role="footer">
            </div>
        </div>

        <script type="text/x-handlebars-template" id="minion-template">
            <div data-role="collapsible">
                <h3>{{hostname}}</h3>
                <div data-role="controlgroup">
                    {{#each quickactions}}
                    <button onclick="run_command('{{../hostname}}', '{{this.fun}}', [{{#each this.arg}}'{{this}}'{{/each}}]);">{{this.title}}</button>
                    {{/each}}
                </div>
            </div>
        </script>
        <script type="text/x-handlebars-template" id="keys-template">
            <div data-role="collapsible">
                <h3>{{hostname}}</h3>
                <div data-role="controlgroup">
                    {{#unless accepted}}
                    <button onclick="run_command('', 'wheel.key.accept', ['{{hostname}}']);">Accept Key</button>
                    {{/unless}}
                    <button onclick="run_command('', 'wheel.key.reject', ['{{hostname}}']);">Reject Key</button>  
                    <button onclick="run_command('', 'wheel.key.delete', ['{{hostname}}']);">Delete Key</button>
                </div>
            </div>
        </script>
        <script type="text/x-handlebars-template" id="modules-template">
            {{#each this}}
            <li><a href="{{this.url}}">{{this.title}}</a></li>
            {{/each}}
        </script>
    </body>
</html>
